<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>new topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <form #outputForm="ngForm">
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input [(ngModel)]=m_name name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>summary: </ion-label>
      <ion-input [(ngModel)]=m_summary name="summary"></ion-input>
    </ion-item>
    <ion-label>there might be more stuff on this page some day</ion-label>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="submit_form()" >
        <ion-icon name="play-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
