<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rush
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card [routerLink]="['/task',Task.id]">
    <ion-card-header>
      <ion-card-title>{{ Task.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ Task.summary }}</ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
